.body {
   margin: 50px;
}


.searchInput {
    width: 300px;
    height: 30px;
    outline: none;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    border-radius: 10px;
    border: solid #b3b3b3 1px;
}
table {
    /* border: solid #b3b3b3 1px; */
    text-align: left;
}
.searchButton {
    width: 50px;
    height: 30px;
}

.container {
    overflow: hidden;
}

.filter {
    position: fixed;
    float: right;
    right: 0;
    width: 30%;
    margin-right: 50px;
}
.result {
    float: left;
    width: 60%;
}



.inputText {
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
            font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  
  .inputText:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
  }
  .inputText:focus{
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    /* -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); */
  }

  .highlight { font-weight : bold; background-color:#fbff00f3; }
  span>span { font-weight : bold; color:#ff0000f3; }